<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="UserService" closeTimeout="00:10:00" openTimeout="00:10:00"
                    sendTimeout="00:10:00" maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000"
                    messageEncoding="Mtom">
                    <readerQuotas maxDepth="5000000" maxStringContentLength="5000000"
                        maxArrayLength="5000000" maxBytesPerRead="5000000" maxNameTableCharCount="5000000" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
            <webHttpBinding>
                <binding name="MapService" closeTimeout="00:10:00" openTimeout="00:10:00"
                    sendTimeout="00:10:00" maxBufferSize="5000000" maxBufferPoolSize="5000000"
                    maxReceivedMessageSize="5000000">
                    <readerQuotas maxDepth="5000000" maxStringContentLength="5000000"
                        maxArrayLength="5000000" maxBytesPerRead="5000000" maxNameTableCharCount="5000000" />
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:26388/UserService.svc" binding="wsHttpBinding"
                bindingConfiguration="UserService" contract="UserService.IUserService"
                name="UserService">
                <identity>
                    <userPrincipalName value="Nronnlun@ad.sogeti.se" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:26388/JsonMap.svc" behaviorConfiguration="webEndpoint"
                binding="webHttpBinding" bindingConfiguration="MapService"
                contract="MapService.IJsonMap" name="MapService" kind="" endpointConfiguration="" />
        </client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webEndpoint">
					<webHttp defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json"
      helpEnabled="true"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
    </system.serviceModel>
</configuration>