<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="azureSqlConnectionString" connectionString="Server=tcp:lvaa4keclo.database.windows.net,1433;Database=UberGame;User ID=slicknick@lvaa4keclo;Password=1sthugvar!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
	</connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GameWCFservice.JsonMap">
        <endpoint address="" behaviorConfiguration="webEndpoint" binding="webHttpBinding"
          bindingConfiguration="WebMapServ" name="MapService" contract="GameWCFservice.IJsonMap" />
        <host>
          <timeouts closeTimeout="00:00:10" />
        </host>
      </service>
      <service name="GameWCFservice.UserService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WcfUserServ"
          name="UserService" contract="GameWCFservice.IUserService" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="WcfMapServ" closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000"
          messageEncoding="Mtom">
          <readerQuotas maxDepth="5000000" maxStringContentLength="5000000"
            maxArrayLength="5000000" maxBytesPerRead="5000000" maxNameTableCharCount="5000000" />
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="WcfUserServ" closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000"
          messageEncoding="Mtom">
          <readerQuotas maxDepth="5000000" maxStringContentLength="5000000"
            maxArrayLength="5000000" maxBytesPerRead="5000000" maxNameTableCharCount="5000000" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="RestUserServ" closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferSize="5000000" maxBufferPoolSize="5000000"
          maxReceivedMessageSize="5000000">
          <readerQuotas maxDepth="5000000" maxStringContentLength="5000000"
            maxArrayLength="5000000" maxBytesPerRead="5000000" maxNameTableCharCount="5000000" />
        </binding>
        <binding name="WebMapServ" closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferSize="5000000" maxBufferPoolSize="5000000"
          maxReceivedMessageSize="5000000">
          <readerQuotas maxDepth="5000000" maxStringContentLength="5000000"
            maxArrayLength="5000000" maxBytesPerRead="5000000" maxNameTableCharCount="5000000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
		
			<endpointBehaviors>
				<behavior name="webEndpoint">
					<webHttp defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json"
      helpEnabled="true"/>
				</behavior>
			</endpointBehaviors>
		




		<serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
